.backgroundMain {
    overflow: auto; /* Добавляем полосы прокрутки */
    background-image: url("images/Untitled.png");
}

.linkResume {
    font-size: 120%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

.borderLinkMain {
    padding: 12px;
    border: 5px solid #3fc7c7;
    font-size: 18px;
    background: #35d5be;
    width: 236px;
    margin: auto;
}

table {
    width: 38%; /* Ширина таблицы */
    border: 1px solid #25c7c7; /* Граница вокруг таблицы */
    border-spacing: 8px 6px; /* Расстояние между границ */
    margin: auto;

}

.backgroundResume {
    overflow: auto; /* Добавляем полосы прокрутки */
    padding-left: 15px; /* Отступ от текста слева */
    background-image: url("images/dark.jpg");
}

.newFont {
    color: #d6ff00;
    font-size: 120%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

.boxTable {
    background: #d6ff00; /* Цвет фона */
    border: 3px solid #333; /* Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */
    text-align: center;
    font-size: 120%;
}

.borderLinkResume {
    padding: 12px;
    border: 3px solid #25c7c7;
    font-size: 18px;
    background: #d6ff00;
    width: 200px;
    margin: auto;
}

/*Головна страниця*/

.tbody {
    background: #b7cedc;
    max-width: 920px;
    margin: 0 auto;

}

.divBorder {
    padding: 5px 15px;
    border: 1px solid black;
}

h4 {
    text-align: center;
}

.header {
    border-radius: 10px 0 0 0;
    margin-top: 20px;
    background-color: #d6ff00;
    line-height: 75px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    width: 71%;

}

.contacts {
    width: 20%;
    background: darkgrey;
    float: right;
    min-height: 60px;
    line-height: 28.5px;
    margin-left: 10px;
    border-radius: 0 10px 0 0;
    justify-content: space-between;

}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.66);
}

.footer {
    font-weight: bold;
    color: #fff;
    background: #505050;
    min-height: 30px;
    line-height: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.66);
}

.ne {
    padding-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;

}

.first {
    height: 770px;
    background: #b7cedc;
    flex-grow: 3;
    width: 30%;

}

.second {
    background: #b7cedc;
    height: 770px;
    flex-grow: 7;
    width: 70%;
}

.third {
    height: 770px;
    background: #b7cedc;
    flex-grow: 3;
    margin-left: 10px;
    width: 30%;
}

.menu {
    margin-top: 30%;
    background: #b7cedc;
    height: 35%;
}

.devs {
    margin-top: 30%;
    background: rgba(255, 165, 165, 0.56);
    height: 35%;
}

.category-wrap {
    width: 200px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category-wrap h3 {
    font-size: 16px;
    color: rgba(0,0,0,.6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0px;}

.category-wrap a {
    text-decoration: none;
    display: block;
    font-size: 13px;
    color: rgba(0,0,0,.6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
}

.category-wrap a:hover {
    background: #80C8A0;
    color: white;
}
