.backgroundMain {
    overflow: auto; /* Добавляем полосы прокрутки */
    background-image: url("images/Untitled.png");
}

.linkResume {
    font-size: 120%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

.borderLinkMain {
    padding: 12px;
    border: 5px solid #3fc7c7;
    font-size: 18px;
    background: #35d5be;
    width: 236px;
    margin: auto;
}

table {
    width: 38%; /* Ширина таблицы */
    border: 1px solid #25c7c7; /* Граница вокруг таблицы */
    border-spacing: 8px 6px; /* Расстояние между границ */
    margin: auto;

}

.backgroundResume {
    overflow: auto; /* Добавляем полосы прокрутки */
    padding-left: 15px; /* Отступ от текста слева */
    background-image: url("images/dark.jpg");
}

.newFont {
    color: #d6ff00;
    font-size: 120%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

.boxTable {
    background: #d6ff00; /* Цвет фона */
    border: 3px solid #333; /* Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */
    text-align: center;
    font-size: 120%;
}

.borderLinkResume {
    padding: 12px;
    border: 3px solid #25c7c7;
    font-size: 18px;
    background: #d6ff00;
    width: 200px;
    margin: auto;
}

/*Головна страниця*/

.tbody {
    margin-left: 250px;
    margin-right: 250px;
}

.divBorder {
    padding: 5px 15px;
    border: 1px solid black;
}

.header {
    border-radius: 10px 0 0 0;
    line-height: 40px;
    margin-bottom: 75px;
}

.contacts {
    float: right;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.66);
}

.footer {
    margin-top: 15px;
    font-weight: bold;
    color: #fff;
    background: #505050;
    min-height: 30px;
    line-height: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.66);
}

.main {
    padding-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
}

.align {
    flex-grow: 3;
}

.content {
    text-align: center;
    flex-grow: 7;
    width: 50%;
}

.ads {
    text-align: right;
    height: 770px;
    flex-grow: 3;
    margin-left: 10px;
}

.counter {
    margin-top: 100%;
    height: 150px;
}

.category-wrap {
    width: 80px;
    font-family: "Helvetica Neue", Comic Sans MS, Comic Sans, cursive;
}
.category-wrap h3 {
    font-size: 16px;
    color: rgba(0,0,0,.6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0;}

.category-wrap a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: rgba(0,0,0,.6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
    border-radius: 10px 10px 10px 10px;
}

.category-wrap a:hover {
    background: black;
    color: #b0aeae;
}

.text {
    font-family: "Comic Sans MS", Comic Sans, cursive;
}

.fontCursive {
    color: black;
    font-family: "Comic Sans MS", Comic Sans, cursive;
    text-decoration: white;
}

.fontName {
    flex-grow: 3;
}

.asd {
    text-align: center;
    margin: 0 0 0 0;
}
.cw {
    width: 192px;
    font-family: "Comic Sans MS", Comic Sans, cursive;
}

.cw ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0,.3);
}

.cw li {margin: 0 0 0 0;}

.cw a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: rgba(0,0,0,.6);
    padding: 5px;
    text-align: center;
    position: absolute;
    transition: .3s linear;
    border-radius: 10px 10px 10px 10px;

}

.cw a:hover {
    background: black;
    color: #b0aeae;
}


